<?xml version="1.0"?>
<!DOCTYPE validators PUBLIC
          "-//Apache Struts//XWork Validator 1.0.2//EN"
          "http://struts.apache.org/dtds/xwork-validator-1.0.2.dtd">
<validators>

#foreach( $field in $beanClass.keyAttributes )

#if ( $beanClass.hasCompositePrimaryKey() )
#set( $fieldName = "restid.${field.name}" )
#else
#set( $fieldName = "restid" )
#end

#if ( $field.jdbcTypeCode == "12" )
  <field name="${fieldName}">
      <field-validator type="requiredstring">
      	   <message key="requiredfield"/>
      </field-validator>
  </field>
#elseif ( $field.jdbcTypeCode == "-1" )
  <field name="${fieldName}">
      <field-validator type="requiredstring">
      	   <message key="requiredfield"/>
      </field-validator>
  </field>
#else
  <field name="${fieldName}">
      <field-validator type="required">
      	   <message key="requiredfield"/>
      </field-validator>
  </field>
#end

#end
</validators>
