/*
 * Procedures dispatcher for screen $screendata.name
 * Created on $today.date ( Time $today.time )
 */

package $class.package;

import org.objectweb.telosys.common.TelosysException;
import org.objectweb.telosys.rpl.ScreenRequest;
import org.objectweb.telosys.rpl.ScreenResponse;
import org.objectweb.telosys.screen.core.ScreenContext;
import org.objectweb.telosys.screen.core.ScreenDataElements;
import org.objectweb.telosys.screen.core.StandardScreenProcedures;

/**
 * Procedures dispatcher for screen $screendata.name
 * 
 * @author xx
 */
public class $class.name extends StandardScreenProcedures
{
	/*
	 * "execute" method implementation
	 * @see StandardScreenProcedures
	 */
    public boolean execute(String sProcName, ScreenContext screenContext, ScreenRequest request, ScreenResponse response ) throws TelosysException
    {    	
    	if ( "procedure1".equals(sProcName) ) return procedure1( screenContext, request, response );
    	if ( "procedure2".equals(sProcName) ) return procedure2( screenContext, request, response );
    	return false ;
    }
    
    private boolean procedure1( ScreenContext screenContext, ScreenRequest request, ScreenResponse response ) throws TelosysException
    {
    	// Do something here ...
    	
    	// Use current screen context data 
    	$screendata.name currentData = ($screendata.name) screenContext.getCurrentData() ;
    	currentData.getElement("elementName");
    	
    	// Use the request parameters 
    	int age = request.getParamAsInt("age", -1);
    	String name = request.getParameter("name", "");

    	// Get a DAO
    	// EmployeeDAO dao = (EmployeeDAO) getDAO(Employee.class);
    	
    	// Set values in the response
    	response.setValue("value1", 123);
    	response.setValue("value2", "abcd" );
    	
    	String[] array = {"a", "b", "c"};

    	// Set objects in the response data elements
    	ScreenDataElements dataElements = new ScreenDataElements();
    	dataElements.add("name1", array );
    	dataElements.add("name2", "abcdef" );
    	response.setDataElements(dataElements);    	
    	
    	// Expose objects in the REQUEST SCOPE ( HttpRequest attribute ) ( example : for a "View" generated by a renderer )
    	response.expose("name1", array);
    	
    	// Set response status ( code + message )
    	response.setReturnCode(0);
    	response.setReturnMessage("It works !");

    	return true ;
	}

    private boolean procedure2( ScreenContext screenContext, ScreenRequest request, ScreenResponse response ) throws TelosysException
    {
    	// Do something here ...
    	return true ;
	}
}